# A Simple Way to Turn Your Plots into GIFs in Python

## Setup

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

import matplotlib.pyplot as plt
import gif

# settings
plt.style.use("seaborn")
gif.options.matplotlib["dpi"] = 300

## Plot #1: a simple line plot

In [2]:
df = yf.download("TSLA", 
                 start="2019-01-01", 
                 end="2021-12-31")

[*********************100%***********************]  1 of 1 completed

In [3]:
tsla_df = df[["Adj Close"]].resample("M").last()

In [4]:
@gif.frame
def helper_plot_1(df, i):
    df = df.copy()
    df.iloc[i:] = np.nan
    ax = df.plot(title="Tesla's stock price", legend=False, style="o--")
    ax.set_xlabel("")
    ax.set_ylabel("Price ($)")

In [5]:
frames = []
for i in range(1, len(tsla_df)):
    frames.append(helper_plot_1(tsla_df, i))

In [6]:
gif.save(frames, "tesla_stock_price.gif", 
         duration=15, unit="s", 
         between="startend")

## Plot #2: multiple time series

In [7]:
df = yf.download(["TSLA", "TWTR", "FB", "AMZN", "AAPL"], 
                 start="2019-01-01", 
                 end="2021-12-31")

df = df[["Adj Close"]].droplevel(0, axis=1).resample("M").last()
df = df.div(df.iloc[0])
df.head()

[*********************100%***********************]  5 of 5 completed

                AAPL      AMZN        FB      TSLA      TWTR
Date
2018-12-31  1.000000  1.000000  1.000000  1.000000  1.000000
2019-01-31  1.055154  1.144317  1.271569  0.922536  1.167711
2019-02-28  1.102400  1.091786  1.231597  0.961178  1.070981
2019-03-31  1.209361  1.185610  1.271569  0.840926  1.144050
2019-04-30  1.277613  1.282662  1.475322  0.717218  1.388657

In [8]:
@gif.frame
def helper_plot_2(df, i):
    
    df = df.copy()
    df.iloc[i:] = np.nan
    
    ax = df.plot(title="Selected stocks' change of value")
    ax.set_xlabel("")
    
    # move the legend below the plot
    box = ax.get_position()
    ax.set_position([box.x0, box.y0 + box.height * 0.1,
                     box.width, box.height * 0.9])
    ax.legend(loc="upper center", bbox_to_anchor=(0.5, -0.1),
              fancybox=True, shadow=True, ncol=5)

In [9]:
frames = []
for i in range(1, len(df)):
    frames.append(helper_plot_2(df, i))

In [10]:
gif.save(frames, "stock_value.gif", 
         duration=15, unit="s", 
         between="startend")